.about{
    width:100%;
    margin:4rem 0rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    height:100%;

}

.about .left{
    text-align: center;
    margin:auto;     
    padding: 1rem;
    max-width:720px;
    background: rgba(15, 23, 42, 0.6);
    border: 1px solid rgba(148, 163, 184, 0.18);
    border-radius: 20px;
    padding: 2.2rem;

}
.about .left p{
    text-align: left;
    margin: 1.2rem 0;
    color: #d0d7e4;

}
.about-highlights{
    text-align: left;
    margin: 1.5rem 0;
    padding-left: 1.2rem;
    color: #e2e8f0;
}
.about-highlights li{
    margin-bottom: 0.6rem;
    font-size: 1.05rem;
}

.about .right {
    max-width:700px;

}

.right .img-container{
    display:grid;
    grid-template: repeat(12, 1fr);
    position:relative;
    align-items: center;
    text-align:center;
}

.right .about1 {
    max-width: 80%;
    border: 1px solid #333;
    height:280px;
    border-radius: 16px;
    object-fit: cover;
}
.right .about2 {
    max-width: 90%;
    border:1px solid #333;
    border-radius: 16px;
    object-fit: cover;
}
.right .top{
    grid-column:1 /span 8;
    grid-row:1;
    padding-top: 20%;
    z-index: 6;

}

.right .bottom{
    grid-column: 6/ -4;
    grid-row:1;
    z-index: 5;
}
